/*Fonts*/

@font-face {
  font-family: "Roboto-Reg";
  src: url("assets/fonts//roboto-reg.woff2") format("woff2"),
  url("assets/fonts//roboto-reg.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("assets/fonts//roboto-light.woff2") format("woff2"),
  url("assets/fonts//roboto-light.woff") format("woff");
}

/*General Styles*/

body {
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: .3s ease-in;
  opacity: .6;
}

a:hover {
  opacity: 1;
}

